/*
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Merriweather:wght@300;400;700&display=swap');
body{
    margin:0;
    padding: 0;
    background-color: #FFF
}
span{
   color: #F00;
}
.header{
    width: 1050px;
    margin: 50px auto;
    border-radius: 16px;
    background-image: url(images/Banner\ Image.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.header img{
    width:100%;
}
.container{
    width: 1050px;
    align-content: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-text{
    width: 632px;
    text-align: center;
    margin-bottom: 150px;
}
.container-text h4{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 632px;
}
/* offer section*/
#offer{
    width:640px;
    margin: 50px auto;
}
#offer h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#offer h6{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
}
#offer h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
}
#offer img{
    width: 100%;
}

/* welcome section*/
#welcome{
    width: 1050px;
    margin: 50px auto;
    border-radius: 16px;
    background-image: url(images/Vectorrr.png);
    background-size: 100%;
    background-repeat: no-repeat;

}
.welcome-content{
    display: flex;
    width: 1050px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    justify-content: space-around;
}
.welcome-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    text-align: left;
    margin-left: 50px;
}
.welcome-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 50px;
}
.welcome-text button{
   background:none;
   border: none;
   color: #fff;
   font-family: Inter;
   font-size: 20px;
   font-weight: 700;
   margin-top: 40px;
   border-radius: 8px;
   padding: 12px 18px;
   margin-left: 150px;
   cursor: pointer;
}

/* address section*/
 #address{
    width: 1050px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    height: 385px;
    margin: 50px auto;
    text-align: center;
 }
 .address-content h3{
   line-height: 35px;
   color: #070211;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   text-transform: capitalize;
   padding-top: 80px;
 }
 .address-content button{
    background: #F00;
    border: none;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    border-radius: 8px;
    padding: 12px 18px;
    cursor: pointer;
 }


 /* gallery section */
 #gellery{
    width: 1050px;
    border-radius: 16px;
    margin: 0 auto;
    flex-wrap: wrap;
 }
 .gellery-text h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 30px;
    margin-bottom: 0;
 }
 .gellery-text h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 ;
    padding-top: 0;

 }
 .gellery-text p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0 300px 0 0;
 }
 .gellery-photo{
    display:flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 30px;
    padding-bottom: 20px;
 }
 .gellery-photo img{
    width: 300px;
    height: 325px;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 30px;
 }
 .gellery-photo img:hover{
    filter:grayscale(1);
    transform: scale(1.03);
 }


 /* mail section */

 #message{
    background: rgba(255, 0, 0, 0.05);
    width: 1050px;
    border-radius: 16px;
    margin: 50px auto;
    text-align: center;
 }
 #message img{
   padding-top: 30px;
 }
 #message h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
 }
 #message p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0 200px 20px 200px;
 }
 #message input{
   width: 648px;
   height: 30px;
   border-radius: 50px 0px 0px 50px;
   background: #FFF;
   font-family: Inter;
   padding: 13px 42px;
   border: none;
 }
 #message button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 42px;
    cursor: pointer;
 }
 #message form{
   padding-bottom: 30px;
 }

 /*footer section*/
 #footer{
    width:100%;
    background-color: #070211;
    text-align: center;
 }
 .footer-top{
    display:flex;
    justify-content: space-between;
 }
 .footer-text{
    width: 280px;
    text-align: left;
    margin-left: 100px;
 }
 .footer-text p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
 }
 .footer-text img{
    height: 14px;
    width: 14px;
 }
.footer-main img{
    width:52px;
    margin-left: 10px;
}
 .footer-bottom{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-left: 0px;
    padding-bottom: 50px;
 }
 .footer-bottom p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
 }
 hr{
    width: 820px;
    height: 1px;
    color: rgba(255, 255, 255, 0.15);
    opacity: 0.25;
 }
 a{
    text-decoration: none;
 }

 /*