/*
font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Merriweather:wght@300;400;700&display=swap');
body{
    margin:0;
    padding: 0;
    background-color: #fff;
}
.header{
    width: 1050px;
    height: 600px;
    margin: 30px auto;
    border-radius: 16px;
    background-image: url(images/Banner\ Image.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.header img{
    width:100%;
}
.container{
    width: 1050px;
    align-content: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-text{
    width: 632px;
    text-align: center;
    margin-bottom: 150px;
}
.container-text h4{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 632px;
}
/* offer section*/
#offer{
    width:640px;
    margin: 50px auto;
}
#offer h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#offer h6{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
}
#offer h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
}
#offer img{
    width: 100%;
}

/* welcome section*/
#welcome{
    width: 1050px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url(images/Vectorrr.png);
    background-size: 100%;
    background-repeat: no-repeat;

}
.welcome-content{
    display: flex;
    width: 1050px;
    align-content: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-size: 100%;
    border-radius: 16px;
    justify-content: space-around;
}
.welcome-text h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.welcome-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.welcome-text button{
    color: #FFF;
    background: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

/* address section*/
 #address{
    width: 1050px;
    background-color: aqua;
    border-radius: 16px;
    height: 385px;
    margin: 0 auto;
 }


 /*footer section*/
 #footer{
    width:100%;
    background-color: #070211;
    text-align: center;
 }
 .footer-top{
    display:flex;
    justify-content: space-between;
 }
 .footer-text{
    width: 280px;
    text-align: left;
    margin-left: 100px;
 }
 .footer-text p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
 }
.footer-main img{
    width:52px;
}
 .footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
 }
 .footer-bottom p{
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
 }
 hr{
    width: 820px;
    height: 1px;
    color: rgba(255, 255, 255, 0.15);
    opacity: 0.25;
 }
 a{
    text-decoration: none;
 }